# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\djangoProject\register3\Employeeproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
